<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>URL Shortener</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body>
    <header>
      <h1>URL Shortener Microservice</h1>
    </header>

    <main>
      <form id="urlForm">
        <input name="inputURL" type="text" maxlength="100" required placeholder="Enter a URL (e.g. https://www.google.com)">
        <button type="submit" id="submit-url">Get short link</button>
      </form>

      <div id="resContainer" style="display: none;">
        <div>
          <p>Original URL: </p><a id="originalURL" href=""></a>
        </div>
        <div>
          <p>Short URL: </p><a id="resURL" href=""></a>
        </div>
      </div>
    </main>
    
    <footer>View this app's <a href="https://github.com/peeblesbrandon/fcc-url-shortner">GitHub repo</a></footer>
  </body>
</html>
